<link rel="stylesheet" href="/static/css/theme-preload.css">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Preload theme script to prevent flashing -->
<script src="/static/js/theme-preload.js"></script>
<link rel="stylesheet" href="/static/css/new-style.css">
<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.0/css/all.min.css" integrity="sha512-AcGTxR95Z7Jw43MLwIuXxeAd7uleS+uMzQ3H6p2pwfwb+SgNEHOtMHB1QUCwT9idefqci5MG/+TP3dnDFObEGw==" crossorigin="anonymous" referrerpolicy="no-referrer">
<link rel="stylesheet" href="/static/css/apps-double-scroll-fix.css">
<link rel="stylesheet" href="/static/css/responsive-fix.css">
<!-- ElfHosted brand overrides - must be last to win specificity -->
<link rel="stylesheet" href="/static/css/variables.css">
<link rel="stylesheet" href="/static/css/elfhosted-overrides.css">

<!-- Favicon -->
<link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>🦎</text></svg>" type="image/svg+xml">
